<div>

  <div>
    <h2>{{ form.value?.id ? 'Edit Task' : 'Add Task' }}</h2>
  </div>

<div *ngIf="form.value?.id === null" class="add-button">
  <button mat-flat-button color="accent" [disabled]="form.enabled" (click)="add()">
    Add Task
  </button>
</div>

  <form [formGroup]="form" (ngSubmit)="save()" class="task-form">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId">
          <mat-option *ngFor="let status of statuses$ | async" [value]="status.id">
            {{ status.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="button-group">
      <button mat-raised-button color="primary" [disabled]="form.disabled" type="submit">
        Save
      </button>

      <button mat-stroked-button color="warn" [disabled]="form.disabled" type="button" (click)="cancel()">
        Cancel
      </button>
    </div>
  </form>
</div>